<div class="hackathon-demo" ng-controller="hackathonDemo">
    <div class="demo">
        <img src="resources/imac.png" class="imac">
        <div class="wrapper">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-if="isShowRead || isShowAdd || isShowEdit" ng-click="showList()">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </md-button>
                    <h2 flex md-truncate ng-if="isShowList">Quick note</h2> 
                    <h2 flex md-truncate  ng-if=" isShowRead || isShowEdit">{{selectedNote.note}}</h2> 
                    <h2 flex md-truncate ng-if="isShowAdd">Add new</h2> 
                    <search class="search-toolbar" model="model" ng-if="isShowList"></search>
                </div>
            </md-toolbar>


            <div ng-if="isShowList" class="animate animate-right">
                <md-button class="md-fab  md-primary" ng-click="addNew($event)">
                    <i class="glyphicon glyphicon-plus"></i>
                </md-button>          
                <div class="container-fluid scroll">
                    <md-list class="note-list">
                        <md-list-item class="md-3-line" ng-repeat="item in list | filter:model.searchValue" ng-click="read(item)"  ng-style="{'background-color':item.color}">
                            <div class="md-list-item-text">
                                <h3>{{item.note}}</h3>
                                <h4>{{item.desc}}</h4>
                            </div>
                            <md-button class="md-secondary" ng-click="edit(item)"><i class="glyphicon glyphicon-pencil"></i></md-button>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>

                </div>

            </div>
            <div ng-if="isShowAdd || isShowEdit" class="animate animate-left add-note"  ng-style="{'background-color':addNote.color}">
               
    
                
                <form name="edit.form">
                    <md-button class="md-fab  md-primary" ng-click="create()">
                        <i class="glyphicon  glyphicon-ok"></i>
                    </md-button>      
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Title</label>
                        <input name="title" required ng-model="addNote.note" />
                         <div ng-messages="edit.form.title.$error" class="mes-wrapper">
          <div ng-message="required">This is required.</div>
        </div>
                        
                        <!--                    <div ng-messages="form.title.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>-->
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <input ng-model="addNote.desc" >
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Color</label> {{addNote.css}}
                        <md-select ng-model="addNote.color">
                            <md-option ng-repeat="color in colors" value="{{color.color}}">
                                {{color.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </form>


            </div>
            <div ng-if="isShowRead" class="animate animate-left read-note"  ng-style="{'background-color':selectedNote.color}">
                <h2>{{selectedNote.note}}</h2>
                <p>{{selectedNote.desc}}</p>
            </div>
        </div>
    </div>
    <div class="notes">
        <div ng-if="isShowList" class="animate animate-right">

            <h3>List view</h3>
            <ul>
                <li>Show a list of notes</li>
                <li>Display title, description, color for each note</li>
                <li>Ability to create, edit and display a note</li>
                <li>Ability to search note</li>
            </ul>
        </div>

        <div ng-if="isShowRead" class="animate animate-left ">

            <h3>Display view</h3>
            <ul>
                <li>Display the detail of selected note with proper background color</li>
                <li>Able to back to list view</li>


            </ul>
        </div>
        <div ng-if="isShowEdit" class="animate animate-left">

            <h3>Edit view</h3>
            <ul>
                <li>Edit the selected note's detail</li>


            </ul>
        </div>
                <div ng-if="isShowAdd" class="animate animate-left">

            <h3>Add view</h3>
            <ul>
                <li>Add a new note</li>
                <li>Title and descript are plain text</li>
                <li>Select a color to category the note</li>
                <li>Form validation: title is required</li>


            </ul>
        </div>

    </div>



</div>