<h2>DOM Manipulation</h2>
<div class="live-code-dom fragment" ng-controller="liveCodeDom">
    <div class="swiper-container" swiper-id="liveCodeDom">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
            <!-- Slides -->
            <div class="swiper-slide fragment alway-visible-fragment">
                <div class="text">
                    <div class="col-xs-12">Visibility manipulation by using <b>ng-if</b></div>
                    <div class="demo col-xs-4 fragment" no-slide="true">
                        <h3>Require</h3>
                        <div class="form-group-lg">
                            <label><input style="    width: 30px;    height: 30px;" type="checkbox"  ng-model="isShow"/>Change visibility</label>
                            <div ng-show="isShow">Content here</div>
                        </div>
                    </div>
                    <div class="code col-xs-8 fragment" no-slide="true">
                        <h3>How to do</h3>
                        <pre>
<code data-trim data-noescape class="html">
    &lt;input type=&quot;checkbox&quot;  ng-model=&quot;isShow&quot;/&gt;
    &lt;div ng-if=&quot;isShow&quot;&gt;Content here&lt;/div&gt;
</code>
                        </pre>
                    </div>

                </div>
            </div>
            <div class="swiper-slide fragment">
                <div class="text">
                    <div class="col-xs-12">Ability manipulation by using <b>ng-disable</b></div>
                    <div class="demo col-xs-3 fragment" no-slide="true">
                        <h3>Require</h3>
                        <div class="form-group-lg" style="font-size: 30px">
                            <label class="radio-inline">
                             <input type="radio" ng-model="isMale"  ng-value="true"> Male
                           </label>
                           <label class="radio-inline">
                             <input type="radio" ng-model="isMale"  ng-value="false"> Female
                           </label>
                            
                        </div>
                        <button class="btn btn-primary" ng-disabled="isMale" ng-click="submit()" >Submit</button>
                    </div>
                    <div class="code col-xs-9 fragment" no-slide="true">
                         <h3>How to do it</h3>
                        <pre style="width: 100%;margin:0">
<code class="html">
&lt;input type=&quot;radio&quot; ng-model=&quot;isMale&quot;  ng-value=&quot;true&quot;&gt; Male
&lt;input type=&quot;radio&quot; ng-model=&quot;isMale&quot;  ng-value=&quot;false&quot;&gt; Female
&lt;button ng-disabled=&quot;isMale&quot; ng-click=&quot;submit()&quot; &gt;Submit&lt;/button&gt;
</code>
                        
                        </pre>
                    </div>
                </div>
            </div>
            <div class="swiper-slide fragment">
                <div class="text">Class manipulation by using <b>ng-class</b>
                    <pre style="width: 800px">
<code class="html">
    &lt;div ng-class=&quot;textClass&quot;&gt;Class manipulation&lt;/div&gt; </code>
<code class="javascript">
    <b>In controller:</b>
    $scope.textClass = "text-success";
</code>
                        
                    </pre>
                </div>
            </div>
            <div class="swiper-slide fragment">
                <div class="text">Style manipulation by using <b>ng-style</b>
                    <pre style="width: 800px">
<code class="html">
    &lt;div ng-style=&quot;textStyle&quot;&gt;Style manipulation&lt;/div&gt; </code>
<code class="javascript">
    <b>In controller:</b>
    $scope.textStyle = {"color":"red"};
</code>
                        
                    </pre>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>