<h2>Directive</h2>
<div class="live-code-directive fragment" ng-controller="liveCodeDirective">
    <div class="swiper-container"  swiper-id="liveCodeDirective">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide fragment alway-visible-fragment">
                <div class="text">1. Create directive with name <b>"searchField"</b>
                    <pre style="width: 850px">
<code data-trim class="js" data-noescape>
    app.directive(&quot;searchField&quot;,function(){
     return {
            templateUrl : &quot;search-field.html&quot;,
            controller : function ($scope){
                $scope.modelName = "Value 1"
                $scope.onSubmit = function(){
                  alert($scope.modelName)
                }
            }
        }  
    })
</code>
                    </pre>
                </div>
            </div>
            <div class="swiper-slide fragment">
                <div class="text">2. Create search-field.html template &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <pre style="width: 800px">
<code data-trim data-noescape class="html">
&ltdiv&gt
    &lt;input type=&quot;text&quot; ng-model=&quot;modelName&quot;/&gt;
    &lt;button ng-click=&quotonSubmit()&quot;&gtSubmit&lt;/button&gt;
&lt/div&gt    
</code>
                    </pre>
                </div>
            </div>
            
            <div class="swiper-slide fragment">
                <div class="text">3.Use directive &ltsearch-field&gt
                    <pre>
<code data-trim data-noescape class="html">
&ltsearch-field&gt&lt/search-field&gt    
</code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>