.live-code-dom{
    
    input[type="radio"]{
           width: 20px;
    height: 20px;
    margin-left: -19px;
    margin-top: 9px;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }
}