.routing{
    .wrapper{
            height: 300px;
    display: flex;
    align-items: center;
    }
    .route-result{
        padding-left: 20px;
        display: inline-block;
    }
    .route-arrow{
        display: inline-block;
        img{
            border: none;
            background-color: transparent;
            width: 200px;
            box-shadow: none;
        }
    }
    .routes{
        width: 600px;
        display: inline-block;


        .route{

        }
        .route-1{

        }
        .route-2{

        }
        .route-3{

        }


    }
}
.routing-2{
    .nav {
        li{
            a{
                
            color:white;
            }
        }
    }
    .nav > li > a:hover, .nav > li > a:focus{
        background-color: #0397d6
    }
}