$color1:#F44336;
$color2:#4CAF50;
$color3:#03A9F4;
.whoweare1{
    height: 500px;
    width: 1200px; 
    position:relative;
    .visible:not(.current-fragment){
        display: none !important; 
    }
    .full-height{
        height: 100%;
    }
    axon{
        position:absolute;
        left: 50px;
        top:50px; 
    }
    .visible{
        &.animate-lightSpeedIn{
            animation-name: lightSpeedIn;

        }
        &.animate-tada{
            animation-name: tada;

        }
    }

    .presenters{


        .row.visible{
            &:nth-child(1){
                text-align: left;
                animation-name: flipInY;
            }
            &:nth-child(2){
                text-align: right;

                animation-name: flipInX;

            }
            &:nth-child(3){
                text-align: left;

                animation-name: flip;

            }
        }

        .row{
            /*height: 150px;*/
            display: flex;
            align-items: center;
            backface-visibility: visible !important;
            [class*=col-xs-]{
                height: 100%;
                /*display:flex;*/
                justify-content: center;
                align-items:center;
                &.image-wrapper{
                    text-align:center;
                    img{
                        height: auto;
                        width: 200px;
                        max-width: initial;
                    }
                }

            }


        }
    }
    .slide-container {
        padding: 14px 00px 20px 0px;
        -webkit-border-radius: 30px;
        overflow: hidden; 
        h2 {
            margin: 0 !important;
            font-size: 80px;
            animation-fill-mode: both;

            -webkit-text-fill-color: transparent;
            animation:  3s infinite;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 300;
            padding: 0;
            width: 200%;
            text-align: left;
            animation-timing-function: cubic-bezier(0, 0, 0, 1);

        }

        &.slide-container-1{
            h2{
                animation-name: slidetounlock1;
                background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.25, #4d4d4d),color-stop(0.5, $color1),color-stop(0.75, #4d4d4d),color-stop(1, #4d4d4d)); 
                -webkit-background-clip: text;
            }
        }
        &.slide-container-2{
                  padding-left: 65px;
            h2{
                animation-name: slidetounlock2;
                background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.25, #4d4d4d),color-stop(0.5, $color2),color-stop(0.75, #4d4d4d),color-stop(1, #4d4d4d)); 
                -webkit-background-clip: text;
            }
        }
        &.slide-container-3{
                      

            h2{
                animation-name: slidetounlock3;
                background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.25, #4d4d4d),color-stop(0.5, $color3),color-stop(0.75, #4d4d4d),color-stop(1, #4d4d4d)); 
                -webkit-background-clip: text;
            }
        }
    }

} 



@-webkit-keyframes slidetounlock1 {
    0% {
        background-position: -1500px 0;
    }
    100% {
        background-position: 100px 0;
    }
}
@-webkit-keyframes slidetounlock2 {
    0% {
        background-position: -1800px 0;
    }
    100% {
        background-position: 300px 0;
    }
}
@-webkit-keyframes slidetounlock3 {

    0% {
        background-position: -1500px 0; 
    }
    100% {
        background-position: 200px 0;
    }
}