.whoweare1{
    position:relative;
    [axon].visible:not(.current-fragment){
        display: none; 
    }
    axon{

        position:absolute;
        left: 50px;
        top:50px; 
    }
    .presenters{


        .row.visible{
            &:nth-child(1){
                animation-name: flipInY;
            }
            &:nth-child(2){
                animation-name: flipInX;

            }
            &:nth-child(3){
                animation-name: flip;

            }
        }

        .row{
            height: 150px;
            display: flex;
            align-items: center;
            backface-visibility: visible !important;
            [class*=col-xs-]{
                height: 100%;
                display:flex;
                justify-content: center;
                align-items:center;
                img{
                    height: 90%;
                    width: auto;
                }
            }


        }
    }

}
#well {
    padding: 14px 20px 20px 20px;
    -webkit-border-radius: 30px;
    overflow: hidden; 
}

h2 {
    font-size: 80px;
    animation-fill-mode: both;
    background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: slidetounlock 5s infinite;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding: 0;
    width: 200%;
    text-align: left;
        animation-timing-function: linear;
    
}

@-webkit-keyframes slidetounlock {
    0% {
        background-position: -500px 0;
    }
    100% {
        background-position: 80px 0;
    }
}